@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    color: #fff;
    font-size: 1.20rem;
    background-color: #FF900E;
    padding: 13px 25px;
    cursor: pointer;
    border: none;
}

/* Header css starts */
header{
    background-color: #ff900e1a;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

nav > ul{
    display: flex;
}

nav > ul li{
    list-style: none;
    margin: 0 20px;
    font-size: 1rem;
    font-weight: 500;
}

nav > ul li a{
    text-decoration: none;
}


/* Banner css starts */
.banner_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}



.banner_content .banner_des{
    color: #727272;
    font-size: 16px;
}

.banner_img img{
    width: 100%;
    margin-top: 30px;
}
















/* Media query css */

@media screen and (max-width: 576px){
    header{
        padding: 30px;
    }

    
    nav{
        flex-direction: column;
    }

    nav > ul li{
       
        margin: 0 15px;

    }

    .banner_content .banner_title{
        font-size: 3rem;
    }
    
}

/* Medium Devices */

@media screen and (min-width: 576px) and (max-width: 960px){
    header
    {
        padding: 50px;
    }
    
    nav{
        flex-direction: column;
    }

    .banner_content .banner_title{
        font-size: 3.4rem;
    }
    
}